@import "tailwindcss";
:root {

  line-height: 1.5;

  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);


  background-color: var(--Violet);
  background-image: url('./assets/bg-desktop.svg'); /* Default desktop background */
  background-size: cover;
   background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}